
         /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit], button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit], button:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 

li[class="lemma"] {
    display: block;
    width: 16.1%;
    float: left;
}

/* The message box is shown when the user clicks on the password field */
#passmessage {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#passmessage p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src: url("_hirakakyprow3.otf");
}
@font-face{font-family:random_0;  src:url('fonts/_NotoSansJP-Medium.otf');}
@font-face{font-family:random_1;  src:url('fonts/_newa.ttf');}
@font-face{font-family:random_2;  src:url('fonts/_newb.ttf');}
@font-face{font-family:random_3;  src:url('fonts/_newc.ttf');}
@font-face{font-family:random_4;  src:url('fonts/_newd.ttf');}
@font-face{font-family:random_5;  src:url('fonts/_newe.ttf');}
@font-face{font-family:random_6;  src:url('fonts/_newf.ttf');}
@font-face{font-family:random_7;  src:url('fonts/_newg.ttf');}
@font-face{font-family:random_8;  src:url('fonts/_newh.ttf');}
@font-face{font-family:random_9;  src:url('fonts/_newi.ttf');}
@font-face{font-family:random_10; src:url('fonts/_newj.ttf');}
@font-face{font-family:random_11; src:url('fonts/_ackaisyo.ttf');}
@font-face{font-family:random_12; src:url('fonts/_textbook_a.ttf');}
@font-face{font-family:random_13; src:url('fonts/_textbook_b.ttf');}
@font-face{font-family:random_14; src:url('fonts/_textbook_c.ttf');}
@font-face{font-family:random_15; src:url('fonts/_font_1_ant-kaku.ttf');}
@font-face{font-family:random_16; src:url('fonts/_font_1_ant-maru.ttf');}
@font-face{font-family:random_17; src:url('fonts/_harenosora.otf');}
@font-face{font-family:random_18; src:url('fonts/_jkg_l_2.ttf'); }
@font-face{font-family:random_19; src:url('fonts/_ranobepop.otf'); }
@font-face{font-family:random_20; src:url('fonts/_snsanafonyu.ttf'); }
@font-face{font-family:random_21; src:url('fonts/_01FLOPDESIGN.ttf');}
@font-face{font-family:random_22; src:url('fonts/_02UtsukushiMincho.ttf');}
@font-face{font-family:random_23; src:url('fonts/_AhahaMojimoji.ttf');}
@font-face{font-family:random_24; src:url('fonts/_AozoraMinchoRegular.ttf');}
@font-face{font-family:random_25; src:url('fonts/_chogokubosogothic_5.ttf');}
@font-face{font-family:random_26; src:url('fonts/_font_1_kokumr.ttf');}
@font-face{font-family:random_27; src:url('fonts/_HanaMinA.ttf');}
@font-face{font-family:random_27; src:url('fonts/_hc-too5.ttf');}
@font-face{font-family:random_28; src:url('fonts/_ipaexm.ttf');}
@font-face{font-family:random_29; src:url('fonts/_JiyunoTsubasa.ttf');}
@font-face{font-family:random_30; src:url('fonts/_KTEGAKI.ttf');}
@font-face{font-family:random_31; src:url('fonts/_migu-1c-regular.ttf');}
@font-face{font-family:random_32; src:url('fonts/_mikachan.ttf');}
@font-face{font-family:random_33; src:url('fonts/_rounded-mplus-1p-medium.ttf');}
@font-face{font-family:random_34; src:url('fonts/_sp-setofont.ttf');}
@font-face{font-family:random_35; src:url('fonts/_togoshi-mincho.ttf');}