{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Contact Us {% endblock %}</h1>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/contact">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name...">

            <label for="email">Email</label>
            <input class="input is-large" type="email" id ="email" name="email" placeholder="example@domain.com" value="{{email}}" >
            <p></p>
            <!--<label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="usa">Other</option>
            </select> -->

            <label for="subject">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." style="height:400px"></textarea>

            <input class="button" type="submit" value="Submit">

        </form>
    </div> 
    
{% endblock %}