{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>
    <h1>Welcome to Just the Right Level!</h1>
    <div>
        <h2>
            <p>
                Just the Right Level is a language learning tool designed to show you sentences in your target language, with only words and grammar you already understand. This is a great way to reenforce what you know and make sure you can understand it in the wild. Having foundantion will greatly help when learning new topics as you can force on just the new topics without having to work to remember old, but poorly studied material.
            </p>
        </h2>
    </div>
{% endblock %}