{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %} Settings {% endblock %}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    <h2> Change Password</h2>
        <form method="POST" action="/change">
            <label for="ogpassword">Current Password</label>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="ogpassword" placeholder="Current Password">
                </div>
            </div>
            <p></p>

            <label for="password">Password</label>
            <div class="field" onkeyup="criteria()">
                <div class="control">
                    <input type="password" id="password" name="password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="New Password">
                </div>

            <label for="password">Reenter Password</label>
                <div class="control">
                    <input type="password" id="pass" name="pass" placeholder="Reenter Password">
                </div>
            </div>
            <p></p>
            <button name="button" value="password">Change Password</button>

        </form>
        <div id="passmessage">
          <h3>Password must contain the following:</h3>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
          <p id="match" class="invalid">Passwords must <b>match</b></p>
        </div>

        <p></p>
            <p></p>
    {% if lenalangs > 0 %}
    <h2> Add Language</h2>
        <form action="" method="POST">
            <label for="lang">What language would you like to add?</label>
            <select id="lang" name="lang">
                {% for lang in alangs %}
                <option value="{{lang}}">{{alangs[lang]}}</option>
                {% endfor %}
            </select>

            <button name="button" value="addlang">Add Language</button>
        </form>
    {% endif %}
            <p></p>
    {% if lenrlangs > 1 %}
    <h2> Remove Language </h2>
        <form action="" method="POST">
            <label for="lang">What language would you like to remove?</label>
            <select id="lang" name="lang">
                {% for lang in rlangs %}
                <option value="{{lang}}">{{rlangs[lang]}}</option>
                {% endfor %}
            </select>

            <button name="button" value="removelang">Remove Language</button>
        </form>
    {% endif %}
            <p></p>
    {% if lennlangs > 0 %}
    <h2>Native Language </h2>
        <form action="" method="POST">
            <p>Your current native language is {{nativelang}}</p>
            <label for="lang">Select your native Language</label>
            <select id="lang" name="lang">
                {% for lang in nlangs %}
                <option value="{{lang}}">{{nlangs[lang]}}</option>
                {% endfor %}
            </select>

            <button name="button" value="nativelang">Change Native Language</button>
        </form>
    {% endif %}
            <p></p>
    <h2> Set Streak goal </h2>
        <form action="" method="POST">
            <input type="number" min="1" max="500" id="goal" name="goal" value={{streakgoal}}>
            <button name="button" value="goal">Update Streak Goal</button>
        </form>
            <p></p>
    <h2> Change Email </h2>
    <p>Your current email is {{current_user.email}}</p>
        <form action="/change" method="POST">
            <input class="input is-large" type="email" name="email" placeholder="example@domain.com">
            <button name="button" value="email">Update Email</button>
        </form>
</div>
<script>
    var myInput = document.getElementById("password");
    var reInput = document.getElementById("pass");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var match = document.getElementById("match");

    // When the user clicks on the password field, show the passmessage box
    myInput.onfocus = function() {
      document.getElementById("passmessage").style.display = "block";
    }
    reInput.onfocus = function() {
      document.getElementById("passmessage").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the passmessage box
    myInput.onblur = function() {
      document.getElementById("passmessage").style.display = "none";
    }

    // When the user starts to type something inside the password field
    function criteria() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
    }

      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if(myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }

      // Validate numbers
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

      // Validate length
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }

      // Validate match
      if(myInput.value === reInput.value) {
        match.classList.remove("invalid");
        match.classList.add("valid");
      } else {
        match.classList.remove("valid");
        match.classList.add("invalid");
      }
    }
    </script>
{% endblock %}