{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>
    <h1>Welcome back!</h1>
    <h2> Your current language is {{config['LANGS'][current_user.currentlang]}} </h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <h2> Your current Streak is {{current_user.streakdays}}. </h2>
    <div>
            <p>
                <button onclick="window.location.href='{{ url_for('learn.work') }}';">Lets Study</button>
            </p>
            <p>
                <button onclick="window.location.href='{{ url_for('learn.addinglemma') }}';">Add Words</button>
            </p>
            <p>
                <button onclick="window.location.href='{{ url_for('learn.grammar') }}';">Add Grammar</button>
            </p>
            <p>
                <button onclick="window.location.href='{{ url_for('learn.updatesentences') }}';">Update Available Sentences</button>
                Takes about a minute, only run after finished adding words and grammar
            </p>
            {% if lenlangs > 0 %}
        <form action="" method="POST">
            <label for="lang">Switch Language</label>
            <select id="lang" name="lang">
                {% for lang in langs %}
                <option value="{{lang}}">{{langs[lang]}}</option>
                {% endfor %}
            </select>

            <button name="button" value="switch">Switch Language</button>
        </form>
        {% endif %}
    </div>
{% endblock %}