{% extends 'base.html' %}

{% block content %}
<div class="work">
    <h1>{% block title %} Practice {{config['LANGS'][current_user.currentlang]}}{% endblock %}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        {% if streakcount %}
        <h3> You've doen {{current_user.streaknum}} out of {{current_user.streakgoal}} sentences today.</h3>
        {% endif %}
    <div id="audio">
        {% for audiofile in audiofiles %}
        <audio controls>
            <source src="{{audiofile}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endfor %}
    </div> 
    <div id="text">
        <h2>
            {{text}}
        </h2>
    </div> 
         <button onclick="myFunction()">Show English</button>
    <div id="translation">
        {% if info %}
        <h3>{{info}}</h3>
        {% endif %}
      <h3>{{translation}}</h3>
    </div> 
    <div id="translation space">
      <h3>|</h3>
    </div> 
    <div class="action">
        <form action="" method="POST"><button class="button" type="submit" name="next" value="{{senid}}">Next Sentence</button></form>
    </div>
</div>
<script>
    var x = document.getElementById("translation");
    var y = document.getElementById("translation space");
    x.style.display = "none";
    function myFunction() {
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
        y.style.display = "block";
      }
    }
</script>

{% endblock %}


{% block javascript %}
{% endblock %}